body{
    background:linear-gradient(90deg, #0C2340, #C4CED3, #C4CED3,#0C2340);
}

h1{
    text-align: center;
    padding: 20px;
    color: #0C2340;
    background-color: rgba(0,0,0,.07);
}
h2{
    text-align: center;
    padding-bottom: 20px;
}
h3{
 font-size: 17px;
}
h4{
    font-size: 15px;
}
p{
    font-size: 14.5px;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 2px 16px;
}
.year{
    background-color: rgba(196,206,211,.7);
    flex-basis: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 10px;
}
.won h3{
    text-decoration: underline;
}