h1,h2,h3{
    text-align: center;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 14px;
    text-align: center;
}

img{
    width: 150px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    background-color: cornflowerblue;
}

header{
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    font-size: 10px;
}

.division{
    position: relative;
    height: 400px;
    padding: 10px;
    background-color: burlywood;
}
.team{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: brown;
}
#team1{
    left:10%;
    top:50%;
    margin: -100px 0 0 0;
}
#team2{
    left:27.5%;
    top:50%;
    margin: -100px 0 0 0;
}
#team3{
    top:50%;
    left:50%;
    margin: -100px 0 0 -100px;
}
#team4{
    right:27.5%;
    top:50%;
    margin: -100px 0 0 0;
}
#team5{
    right:10%;
    top:50%;
    margin: -100px 0 0 0;
}
